@page
@model Project_PRN221.Pages.Documents.ReceiveDocumentModel
@{
}
<section class="section-primary pt-150 pb-113 shop-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sorting">
                    <div class="woocommerce-result-count font-weight-bold" style="font-family: Merriweather;font-size: 40px;">
                        Tìm kiếm văn bản

                    </div>
                    <form method="get" enctype="multipart/form-data" class="woocommerce-ordering">
                        <table>
                            <tr>
                                <td>
                                    <span>Văn bản số</span>
                                    <div class="widget_search">
                                        <input class="form-control" type="text" asp-for="DoccumentNumber" placeholder="Enter document name to search">
                                    </div>
                                </td>
                                <td>
                                    <span>Loại văn bản</span>
                                    <div class="form-holder">
                                        <select asp-for="CategoryID" asp-items="ViewBag.CategoryID" class="orderby form-control" style="width:100%">
                                            <option value="">All</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <span>Người ký văn bản</span>
                                    <div class="form-holder">
                                        <div class="widget_search">
                                            <input class="form-control" type="text" asp-for="HumanSign" placeholder="Enter document name to search">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Từ ngày</span>
                                    <div class="form-holder">
                                        <div class="widget_search">
                                            <input class="form-control" type="date" asp-for="StartDate" placeholder="Enter document name to search">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>Đến ngày</span>
                                    <div class="form-holder">
                                        <div class="widget_search">
                                            <input class="form-control" type="date" asp-for="EndDate" placeholder="Enter document name to search">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>Người gửi</span>
                                    <div class="widget_search">
                                        <input class="form-control" type="text" asp-for="Username" placeholder="Enter document name to search">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Title</span>
                                    <div class="widget_search">
                                        <input class="form-control" type="text" asp-for="Title" placeholder="Enter document name to search">
                                    </div>
                                </td>
                                <td>
                                    <span>Trạng thái</span>
                                    <div class="form-holder">
                                        <select asp-for="IsRead" class="orderby form-control" style="width:100%">
                                            <option value="">All</option>
                                            <option value="true">Đã đọc</option>
                                            <option value="false">Chưa đọc</option>
                                        </select>
                                    </div>
                                </td>
                                <td colspan="3">
                                    <div class="form-holder" style=" margin-top: 20px;width:100%">
                                        <input type="submit" class="woocommerce-Button button au-btn round has-bg" value="Tìm kiếm">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                
                <div class="row products">
                    <table class="table search-result" cellspacing="0" rules="all" border="1" id="ctrl_191017_163_grvDocument" style="border-style:None;width:100%;border-collapse:collapse;">
                        <tbody>
                            <tr>
                                <th class="CodeClass" scope="col">Số ký hiệu</th>
                                <th scope="col">Ngày ban hành</th>
                                <th scope="col">Tên văn bản</th>
                                <th scope="col">Người gửi</th>
                                <th scope="col">Ngày nhận</th>
                                <th scope="col">Trạng thái</th>
                            </tr>
                            @foreach (var item in Model.documents)
                            {
                                <tr>
                                    <td>
                                        <a class="" asp-page="./ReceiveDetail" asp-route-id="@item.DocumentId">
                                            <span class="code">@item.Document.DocumentNumber</span>
                                        </a>
                                    </td>
                                    <td>
                                        <span class="issued-date">@item.Document.CreateDate</span>
                                    </td>
                                    <td>
                                        <a href="/?pageid=27160&amp;docid=209071">
                                            <span class="substract">@item.Document.Title</span>
                                        </a>
                                        <div class="bl-issue-date">
                                            <span class="issued-date issued-date-inside">@item.Document.CreateDate</span>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="issued-date">@item.UserIdSendNavigation.FullName</span>
                                    </td>
                                    <td>
                                        <span class="issued-date">@item.SentDate</span>
                                    </td>
                                    <td>
                                        <input type="checkbox" checked="@item.IsRead" disabled>
                                    </td>
                                </tr>
                            }
                            
                    </table>
                  
                </div>
                @*<div class="woocommerce-pagination">
                    <ul class="page-numbers">
                    <li>
                        <a  asp-route-indexPage="@(Model.IndexPage-1)"
                            asp-page="./ReceiveDocment" 
                            asp-route-doccumentNumber="@Model.DoccumentNumber"   
                            asp-route-categoryId="@Model.CategoryID"   
                            asp-route-humanSign="@Model.HumanSign"   
                            asp-route-startDate="@Model.StartDate"   
                            asp-route-endDate="@Model.EndDate"   
                            asp-route-username="@Model.Username"   
                            asp-route-title="@Model.Title"   
                            asp-route-isRead="@Model.IsRead"   
                            style="display:@(Model.documents.HasPreviousPage ? "inherit" : "none")"
                            class="page-numbers prev"
                            >
                    <span class="lnr lnr-arrow-left"></span>
                    </a>
                    </li>
                    @for (int i = 1; i <= Model.documents.TotalPages; i++)
                    {
                    <li>
                        <span class="page-numbers @(Model.documents.PageIndex == i ? "current": "inactive")">
                            <a  asp-route-indexPage="@i"
                                asp-page="./ReceiveDocment"
                                asp-route-doccumentNumber="@Model.DoccumentNumber"   
                                asp-route-categoryId="@Model.CategoryID"   
                                asp-route-humanSign="@Model.HumanSign"   
                                asp-route-startDate="@Model.StartDate"   
                                asp-route-endDate="@Model.EndDate"   
                                asp-route-username="@Model.Username"   
                                asp-route-title="@Model.Title"   
                                asp-route-isRead="@Model.IsRead"   >
                                    @i
                             </a>
                        </span>
                    </li>

                    }
                    <li>
                    <a  asp-route-indexPage="@(Model.IndexPage + 1)"
                        asp-page="./ReceiveDocment" 
                        asp-route-doccumentNumber="@Model.DoccumentNumber"   
                        asp-route-categoryId="@Model.CategoryID"   
                        asp-route-humanSign="@Model.HumanSign"   
                        asp-route-startDate="@Model.StartDate"   
                        asp-route-endDate="@Model.EndDate"   
                        asp-route-username="@Model.Username"   
                        asp-route-title="@Model.Title"   
                        asp-route-isRead="@Model.IsRead"   
                        style="display:@(Model.documents.HasNextPage ? "inherit" : "none")"
                        class="page-numbers next">
                    <span class="lnr lnr-arrow-right"></span>
                    </a>
                    </li>
                    </ul>
                </div>*@
            </div>
            
        </div>
    </div>
</section>
<script>
    document.getElementById("sortSelect").addEventListener("change", function () {
        var selectedSort = this.value;

        var currentUrl = window.location.href;
        var url = new URL(currentUrl);
        url.searchParams.set("sort", selectedSort);

        window.location.href = url;
    });
</script>