@page
@model Project_PRN221.Pages.Documents.ReceiveDocumentModel
@{
}
<section class="section-primary pt-150 pb-113 shop-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sorting">
<<<<<<< HEAD
                    <p class="woocommerce-result-count">
                        Tìm kiếm văn bản
                    </p>
                    <form method="get" class="woocommerce-ordering">
                        
                        <table>
                            <tr>
                                <td>
                                    <div class="form-holder">
                                        <span>Thể loại</span>
                                        <select asp-for="@Model.CategoryID" asp-items="ViewBag.CategoryID" class="orderby form-control">
                                            <option value="-1">Thể loại</option>
                                        </select>
                                        <span class="lnr lnr-chevron-down"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-holder">
                                        <span>Đơn vị gửi</span>
                                        <select asp-for="@Model.UserID" asp-items="ViewBag.UserID" class="orderby form-control">
                                            <option value="-1">Đơn vị gửi</option>
                                        </select>
                                        <span class="lnr lnr-chevron-down"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-holder">
                                        <span>Ngày nhận</span>
                                        <input type="date" asp-for="@Model.StartDate" />
                                        <input type="date" asp-for="@Model.EndDate" />
=======
                    <div class="woocommerce-result-count font-weight-bold" style="font-family: Merriweather;font-size: 40px;">
                        Tìm kiếm văn bản

                    </div>
                    <form method="get" class="woocommerce-ordering">
                        <table>
                            <tr>
                                <td>
                                    <span>Văn bản số</span>
                                    <div class="widget_search">
                                        <input class="form-control" type="text" asp-for="@Model.DoccumentNumber" id="txtSearch" placeholder="Enter document name to search">
                                    </div>
                                </td>
                                <td>
                                    <span>Loại văn bản</span>
                                    <div class="form-holder">
                                        <select id="sortSelect1" asp-for="@Model.CategoryID" asp-items="ViewBag.CategoryID" class="orderby form-control" style="width:100%">
                                            <option value="">All</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <span>Người ký văn bản</span>
                                    <div class="form-holder">
                                        <div class="widget_search">
                                            <input class="form-control" type="text" asp-for="@Model.HumanSign" id="txtSearch" placeholder="Enter document name to search">
                                        </div>
>>>>>>> HoangTH
                                    </div>
                                </td>
                            </tr>
                            <tr>
<<<<<<< HEAD
                                <td colspan="3">
                                    <div class="form-holder">
=======
                                <td>
                                    <span>Từ ngày</span>
                                    <div class="form-holder">
                                        <div class="widget_search">
                                            <input class="form-control" type="date" asp-for="@Model.StartDate" id="txtSearch" placeholder="Enter document name to search">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>Đến ngày</span>
                                    <div class="form-holder">
                                        <div class="widget_search">
                                            <input class="form-control" type="date" asp-for="@Model.EndDate" id="txtSearch" placeholder="Enter document name to search">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>Người gửi</span>
                                    <div class="widget_search">
                                        <input class="form-control" type="text" asp-for="@Model.Username" id="txtSearch" placeholder="Enter document name to search">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Title</span>
                                    <div class="widget_search">
                                        <input class="form-control" type="text" asp-for="@Model.Title" id="txtSearch" placeholder="Enter document name to search">
                                    </div>
                                </td>
                                <td>
                                    <span>Trạng thái</span>
                                    <div class="form-holder">
                                        <select id="sortSelect1" asp-for="@Model.IsRead" class="orderby form-control" style="width:100%">
                                            <option value="">All</option>
                                            <option value="true">Đã đọc</option>
                                            <option value="false">Chưa đọc</option>
                                        </select>
                                    </div>
                                </td>
                                <td colspan="3">
                                    <div class="form-holder" style=" margin-top: 20px;width:100%">
>>>>>>> HoangTH
                                        <input type="submit" class="woocommerce-Button button au-btn round has-bg" name="login" value="Tìm kiếm">
                                    </div>
                                </td>
                            </tr>
                        </table>
<<<<<<< HEAD
                       @* <div class="form-holder">
                            <span>Thể loại</span>
                            <select asp-for="@Model.CategoryID" asp-items="ViewBag.CategoryID" class="orderby form-control">
                                <option value="-1">Thể loại</option>

                            </select>
                            <span class="lnr lnr-chevron-down"></span>
                        </div>

                        <div class="form-holder">
                            <span>Đơn vị gửi</span>
                            <select asp-for="@Model.UserID" asp-items="ViewBag.UserID" class="orderby form-control">

                                <option value="-1">Đơn vị gửi</option>
                            </select>
                            <span class="lnr lnr-chevron-down"></span>
                        </div>
                        <div class="form-holder">
                            <span>Ngày nhận</span>
                            <input type="date" asp-for="@Model.StartDate" />
                            <input type="date" asp-for="@Model.EndDate" />
                        </div>
                        <div class="form-holder">
                            <input type="submit" class="woocommerce-Button button au-btn round has-bg" name="login" value="Tìm kiếm">
                        </div>*@
=======
>>>>>>> HoangTH
                    </form>
                </div>
                
                <div class="row products">
                    <table class="table search-result" cellspacing="0" rules="all" border="1" id="ctrl_191017_163_grvDocument" style="border-style:None;width:100%;border-collapse:collapse;">
                        <tbody>
                            <tr>
                                <th class="CodeClass" scope="col">Số ký hiệu</th>
                                <th scope="col">Ngày ban hành</th>
                                <th scope="col">Tên văn bản</th>
                                <th scope="col">Người gửi</th>
                                <th scope="col">Ngày nhận</th>
                                <th scope="col">Trạng thái</th>
                            </tr>
                            @foreach (var item in Model.documents)
                            {
                                <tr>
                                    <td>
                                        <a class="" asp-page="./ReceiveDetail" asp-route-id="@item.DocumentId">
                                            <span class="code">@item.Document.DocumentNumber</span>
                                        </a>
                                    </td>
                                    <td>
                                        <span class="issued-date">@item.Document.CreateDate</span>
                                    </td>
                                    <td>
                                        <a href="/?pageid=27160&amp;docid=209071">
                                            <span class="substract">@item.Document.Title</span>
                                        </a>
                                        <div class="bl-issue-date">
                                            <span class="issued-date issued-date-inside">@item.Document.CreateDate</span>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="issued-date">@item.UserIdSendNavigation.FullName</span>
                                    </td>
                                    <td>
                                        <span class="issued-date">@item.SentDate</span>
                                    </td>
                                    <td>
                                        <input type="checkbox" checked="@item.IsRead" disabled>
                                    </td>
                                </tr>
                            }
                            
                    </table>
                  
                </div>
                <div class="woocommerce-pagination">
                    @*<ul class="page-numbers">
                    <li>
                    @if (pageNum == 1)
                    {
                    <a href="/products/menu?PageNum=@prev" hidden="hidden" class="page-numbers prev">
                    <span class="lnr lnr-arrow-left"></span>
                    </a>
                    }
                    else
                    {
                    <a href="/products/menu?PageNum=@prev" class="page-numbers prev">
                    <span class="lnr lnr-arrow-left"></span>
                    </a>
                    }
                    </li>
                    @for (var i = 1; i <= total; i++)
                    {
                    @if (pageNum == i)
                    {
                    <li>
                    <span class="page-numbers current"><a href="/products/menu?PageNum=@i">@i</a></span>
                    </li>
                    }
                    else
                    {
                    <li>
                    <a href="/products/menu?PageNum=@i" class="page-numbers inactive">@i</a>
                    </li>
                    }
                    }
                    <li>
                    @if (pageNum == total)
                    {
                    <a href="/products/menu?PageNum=@next" hidden="hidden" class="page-numbers next">
                    <span class="lnr lnr-arrow-right"></span>
                    </a>
                    }
                    else
                    {
                    <a href="/products/menu?PageNum=@next" class="page-numbers next">
                    <span class="lnr lnr-arrow-right"></span>
                    </a>
                    }
                    </li>
                    </ul>*@
                </div>
            </div>
            
        </div>
    </div>
</section>
<script>
    document.getElementById("sortSelect").addEventListener("change", function () {
        var selectedSort = this.value;

        var currentUrl = window.location.href;
        var url = new URL(currentUrl);
        url.searchParams.set("sort", selectedSort);

        window.location.href = url;
    });
</script>