@page
@model Project_PRN221.Pages.Documents.ReceiveDocumentModel
@{
}
@using System.Security.Claims;
<section class="section-primary pt-150 pb-113 shop-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sorting">
                    <div class="woocommerce-result-count font-weight-bold" style="font-family: Merriweather;font-size: 40px;">
                        Tìm kiếm văn bản

                    </div>
                    <form method="get" enctype="multipart/form-data" class="woocommerce-ordering">
                        <table>
                            <tr>
                                <td>
                                    <span>Văn bản số</span>
                                    <div class="widget_search">
                                        <input class="form-control" type="text" asp-for="DoccumentNumber" placeholder="Enter document name to search">
                                    </div>
                                </td>
                                <td>
                                    <span>Loại văn bản</span>
                                    <div class="form-holder">
                                        <select asp-for="CategoryID" asp-items="ViewBag.CategoryID" class="orderby form-control" style="width:100%">
                                            <option value="">All</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <span>Người ký văn bản</span>
                                    <div class="form-holder">
                                        <div class="widget_search">
                                            <input class="form-control" type="text" asp-for="HumanSign" placeholder="Enter document name to search">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Từ ngày</span>
                                    <div class="form-holder">
                                        <div class="widget_search">
                                            <input class="form-control" type="date" asp-for="StartDate" placeholder="Enter document name to search">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>Đến ngày</span>
                                    <div class="form-holder">
                                        <div class="widget_search">
                                            <input class="form-control" type="date" asp-for="EndDate" placeholder="Enter document name to search">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>Người gửi</span>
                                    <div class="widget_search">
                                        <input class="form-control" type="text" asp-for="Username" placeholder="Enter document name to search">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Title</span>
                                    <div class="widget_search">
                                        <input class="form-control" type="text" asp-for="Title" placeholder="Enter document name to search">
                                    </div>
                                </td>
                                <td>
                                    <span>Trạng thái</span>
                                    <div class="form-holder">
                                        <select asp-for="IsRead" class="orderby form-control" style="width:100%">
                                            <option value="">All</option>
                                            <option value="true">Đã đọc</option>
                                            <option value="false">Chưa đọc</option>
                                        </select>
                                    </div>
                                </td>
                                <td colspan="3">
                                    <div class="form-holder" style=" margin-top: 20px;width:100%">
                                        <input type="submit" class="woocommerce-Button button au-btn round has-bg" value="Tìm kiếm">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                
                <div class="row products">
                    <table class="table search-result" cellspacing="0" rules="all" border="1" id="ctrl_191017_163_grvDocument" style="border-style:None;width:100%;border-collapse:collapse;">
                            <tr>
                                <th class="CodeClass" scope="col">Số ký hiệu</th>
                                <th scope="col">Ngày ban hành</th>
                                <th scope="col">Tên văn bản</th>
                                <th scope="col">Người gửi</th>
                                <th scope="col">Ngày nhận</th>
                                <th scope="col">Trạng thái</th>
                            </tr >
                        <tbody id="table">
                            @foreach (var item in Model.documents)
                            {
                                <tr>
                                    <td>
                                        <a class="" asp-page="./ReceiveDetail" asp-route-id="@item.DocumentId">
                                            <span class="code">@item.Document.DocumentNumber</span>
                                        </a>
                                    </td>
                                    <td>
                                        <span class="issued-date">@item.Document.CreateDate</span>
                                    </td>
                                    <td>
                                        <a href="/?pageid=27160&amp;docid=209071">
                                            <span class="substract">@item.Document.Title</span>
                                        </a>
                                        <div class="bl-issue-date">
                                            <span class="issued-date issued-date-inside">@item.Document.CreateDate</span>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="issued-date">@item.UserIdSendNavigation.FullName</span>
                                    </td>
                                    <td>
                                        <span class="issued-date">@item.SentDate</span>
                                    </td>
                                    <td>
                                        <input type="checkbox" checked="@item.IsRead" disabled>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                  
                </div>
                @*<div class="woocommerce-pagination">
                    <ul class="page-numbers">
                    <li>
                        <a  asp-route-indexPage="@(Model.IndexPage-1)"
                            asp-page="./ReceiveDocment" 
                            asp-route-doccumentNumber="@Model.DoccumentNumber"   
                            asp-route-categoryId="@Model.CategoryID"   
                            asp-route-humanSign="@Model.HumanSign"   
                            asp-route-startDate="@Model.StartDate"   
                            asp-route-endDate="@Model.EndDate"   
                            asp-route-username="@Model.Username"   
                            asp-route-title="@Model.Title"   
                            asp-route-isRead="@Model.IsRead"   
                            style="display:@(Model.documents.HasPreviousPage ? "inherit" : "none")"
                            class="page-numbers prev"
                            >
                    <span class="lnr lnr-arrow-left"></span>
                    </a>
                    </li>
                    @for (int i = 1; i <= Model.documents.TotalPages; i++)
                    {
                    <li>
                        <span class="page-numbers @(Model.documents.PageIndex == i ? "current": "inactive")">
                            <a  asp-route-indexPage="@i"
                                asp-page="./ReceiveDocment"
                                asp-route-doccumentNumber="@Model.DoccumentNumber"   
                                asp-route-categoryId="@Model.CategoryID"   
                                asp-route-humanSign="@Model.HumanSign"   
                                asp-route-startDate="@Model.StartDate"   
                                asp-route-endDate="@Model.EndDate"   
                                asp-route-username="@Model.Username"   
                                asp-route-title="@Model.Title"   
                                asp-route-isRead="@Model.IsRead"   >
                                    @i
                             </a>
                        </span>
                    </li>

                    }
                    <li>
                    <a  asp-route-indexPage="@(Model.IndexPage + 1)"
                        asp-page="./ReceiveDocment" 
                        asp-route-doccumentNumber="@Model.DoccumentNumber"   
                        asp-route-categoryId="@Model.CategoryID"   
                        asp-route-humanSign="@Model.HumanSign"   
                        asp-route-startDate="@Model.StartDate"   
                        asp-route-endDate="@Model.EndDate"   
                        asp-route-username="@Model.Username"   
                        asp-route-title="@Model.Title"   
                        asp-route-isRead="@Model.IsRead"   
                        style="display:@(Model.documents.HasNextPage ? "inherit" : "none")"
                        class="page-numbers next">
                    <span class="lnr lnr-arrow-right"></span>
                    </a>
                    </li>
                    </ul>
                </div>*@
            </div>
            
        </div>
    </div>
</section>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript">
    var connection = new signalR.HubConnectionBuilder().withUrl("/signalrServer").build();
    connection.start()
        .then(function () {
            console.log('SignalR đã kết nối thành công');
        })
        .catch(function (err) {
            console.error('SignalR đã kết nối thất bại');
        });
    connection.onclose(function (error) {
        console.log('SignalR kết nối đã đóng với lỗi: ' + error);
    });

    connection.on("LoadReceiveDocs", function (userIdReceive, userIdSend) {
        console.log('Sự kiện "LoadReceiveDocs" đã được gọi');
        var userId = @User.FindFirstValue("AccountId");
        if (userId === userIdReceive) {
            LoadReceive();
        }
    });

    function LoadReceive() {
        console.log(`Hàm "LoadReceive" đã được gọi`);
        var rc = ``;
            // Tạo một đối tượng chứa các thông số bạn muốn truyền vào
    // Gọi hàm POST bằng AJAX
        $.ajax({
            type: 'POST',
            url: '/Documents/ReceiveDocument?handler=Async',
            data: JSON.stringify({
                "doccumentNumber": '@Model.DoccumentNumber' || null,
                "categoryId": '@Model.CategoryID' ? Number('@Model.CategoryID') : null,
                "humanSign": '@Model.HumanSign' || null,
                "startDate": '@Model.StartDate' ? new Date('@Model.StartDate') : null,
                "endDate": '@Model.EndDate' ? new Date('@Model.EndDate') : null,
                "username": '@Model.Username' || null,
                "title": '@Model.Title' || null,
                "isRead": '@Model.IsRead' ? '@Model.IsRead'.toLowerCase() === 'true' : null,
                "pageIndex": '@Model.IndexPage' ? Number('@Model.IndexPage') : null
            }),
           // contentType: 'application/json',
            headers: {
                "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            },
            success: function (data) {
                // Xử lý dữ liệu trả về ở đây
                $.each(data, (k, v) => {
                    rc += `<tr>
                            <td>
                                <a href="./ReceiveDetail?id=${v.DocumentId}">
                                    <span class="code">${v.Document.DocumentNumber}</span>
                                </a>
                            </td>
                            <td>
                                <span class="issued-date">${v.Document.CreateDate}</span>
                            </td>
                            <td>
                                <a href="/?pageid=27160&amp;docid=209071">
                                    <span class="substract">${v.Document.Title}</span>
                                </a>
                                <div class="bl-issue-date">
                                    <span class="issued-date issued-date-inside">${v.Document.CreateDate}</span>
                                </div>
                            </td>
                            <td>
                                <span class="issued-date">${v.UserIdSendNavigation.FullName}</span>
                            </td>
                            <td>
                                <span class="issued-date">${v.SentDate}</span>
                            </td>
                            <td>
                                <input type="checkbox" checked="${v.IsRead}" disabled>
                            </td>
                        </tr>`;
                })
                // Xử lý dữ liệu trả về ở đây
                console.log(response);
                $("#table").html(rc);
                console.log("Đồng bộ văn bản nhận thành công");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // Xử lý lỗi ở đây
                alert(jqXHR.status);
                alert(errorThrown);
            }
        });
    }
</script>