@page
@using Project_PRN221.Dto;
@model Project_PRN221.Pages.Documents.SendDocumentModel
@{
}
<section class="section-primary pt-150 pb-113 shop-list">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="sorting">
                    <div class="woocommerce-result-count font-weight-bold" style="font-family: Merriweather;font-size: 40px;">
                        Tìm kiếm văn bản

                    </div>
                    <form method="get" class="woocommerce-ordering">
                        <table>
                            <tr>
                                <td>
                                    <span>Văn bản số</span>
                                    <div class="widget_search">
                                        <input class="form-control" type="text" asp-for="@Model.DoccumentNumber" id="txtSearch" placeholder="Enter document name to search">
                                    </div>
                                </td>
                                <td>
                                    <span>Loại văn bản</span>
                                    <div class="form-holder">
                                        <select id="sortSelect1" asp-for="@Model.CategoryID" asp-items="ViewBag.CategoryID" class="orderby form-control" style="width:100%">
                                            <option value="">All</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <span>Người ký văn bản</span>
                                    <div class="form-holder">
                                        <div class="widget_search">
                                            <input class="form-control" type="text" asp-for="@Model.HumanSign" id="txtSearch" placeholder="Enter document name to search">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Từ ngày</span>
                                    <div class="form-holder">
                                        <div class="widget_search">
                                            <input class="form-control" type="date" asp-for="@Model.StartDate" id="txtSearch" placeholder="Enter document name to search">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>Đến ngày</span>
                                    <div class="form-holder">
                                        <div class="widget_search">
                                            <input class="form-control" type="date" asp-for="@Model.EndDate" id="txtSearch" placeholder="Enter document name to search">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>Người nhận</span>
                                    <div class="widget_search">
                                        <input class="form-control" type="text" asp-for="@Model.Username" id="txtSearch" placeholder="Enter document name to search">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Title</span>
                                    <div class="widget_search">
                                        <input class="form-control" type="text" asp-for="@Model.Title" id="txtSearch" placeholder="Enter document name to search">
                                    </div>
                                </td>
                                <td colspan="3">
                                    <div class="form-holder" style=" margin-top: 20px;width:100%">
                                        <input type="submit" class="woocommerce-Button button au-btn round has-bg" name="login" value="Tìm kiếm">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

                <a href="sendtoagence" class="btn btn-primary">
                    Gửi Văn Bản đến Cơ Quan
                </a>
                <a href="sendtopersonal" class="btn btn-primary">
                    Gửi Văn Bản đến Cá Nhân
                </a>
                <div class="row products">
                    <table class="table search-result" cellspacing="0" rules="all" border="1" id="ctrl_191017_163_grvDocument" style="border-style:None;width:100%;border-collapse:collapse;">
                        <tbody>
                            <tr>
                                <th class="CodeClass" scope="col">Số ký hiệu</th>
                                <th scope="col">Ngày ban hành</th>
                                <th scope="col">Trích yếu</th>
                                <th scope="col">Đơn vị nhận</th>
                                <th scope="col">Ngày gửi</th>

                            </tr>
                            @foreach (var item in ViewData["ListDocumentSent"] as List<SendDocumentDto>)
                            {
                                <tr>
                                    <td>
                                        <a href="sendDetail?id=">
                                            <span class="code">@item.DocumentNumber</span>
                                        </a>
                                    </td>
                                    <td>
                                        <span class="issued-date">@item.CreateDate</span>
                                    </td>
                                    <td>
                                      <span class="substract">   @item.Description </span>
                                        
                                        <div class="bl-doc-files">
                                            <div class="bl-doc-file"><a href="https://datafiles.chinhphu.vn/cpp/files/vbpq/2023/12/1275-nn.signed.pdf" target="_blank" download="">Tài liệu đính kèm</a></div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="issued-date">@item.AgenceReceive</span>
                                    </td>
                                    <td>
                                        <span class="issued-date">@item.SendDate</span>
                                    </td>

                                </tr>
                            }

                    </table>

                </div>
            </div>
        </div>
    </div>


</section>
<script>
    document.getElementById("sortSelect").addEventListener("change", function () {
        var selectedSort = this.value;

        var currentUrl = window.location.href;
        var url = new URL(currentUrl);
        url.searchParams.set("sort", selectedSort);

        window.location.href = url;
    });
</script>