@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //var special = Model.ListProducts.Where(p => p.CategoryId == 2);
    //var standard = Model.ListProducts.Where(p => p.CategoryId == 1);
    //int pageNum = (int)ViewData["CurentPage"];
    //int total = (int)ViewData["TotalPage"];
    //int next = pageNum + 1;
    //int prev = pageNum - 1;
}
@*<section class="page-info set-bg" >
    <div class="section-header">
        <h1 class="text-white">Menu</h1>
        <span>~ Delicious food ~</span>
    </div>
</section>*@

<!-- SHOP LIST -->
<section class="section-primary pt-150 pb-113 shop-list">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <a href="documents/create">
                    Thêm Văn bản
                </a>
                <div class="sorting">
                    <form method="get" class="woocommerce-ordering">
                        <div class="woocommerce-result-count">
                            Tìm kiếm văn bản
                            @*Showing @Model.CurrentProducts of @Model.TotalProducts results*@
                        </div>

                        <div class="form-holder">
                            <select id="sortSelect" name="orderby" class="orderby form-control">
                                <option value="">Lĩnh vực</option>
                                <option value="asc">Sort: low to high</option>
                                <option value="desc">Sort: high to low</option>
                            </select>
                            <span class="lnr lnr-chevron-down"></span>
                        </div>

                        <div class="form-holder">
                            <select id="sortSelect" name="orderby" class="orderby form-control">

                                <option value=""> Cơ quan ban hành</option>
                                <option value="asc">Sort: low to high</option>
                                <option value="desc">Sort: high to low</option>
                            </select>
                            <span class="lnr lnr-chevron-down"></span>
                        </div>
                        <div class="form-holder">
                            <select id="sortSelect" name="orderby" class="orderby form-control">

                                <option value="">Năm ban hành</option>
                                <option value="asc">Sort: low to high</option>
                                <option value="desc">Sort: high to low</option>
                            </select>
                            <span class="lnr lnr-chevron-down"></span>
                        </div>
                        <div class="form-holder">
                            <select id="sortSelect" name="orderby" class="orderby form-control">
                                
                                <option value="">Năm ban hành</option>
                                <option value="asc">Sort: low to high</option>
                                <option value="desc">Sort: high to low</option>
                            </select>
                            <span class="lnr lnr-chevron-down"></span>
                        </div>
                        <div class="form-holder ">
                            <input style="border:1px solid #e5e5e5" class="form-control" type="text" name="search" id="txtSearch" placeholder="Enter document name to search" value="@ViewData["txtSearch"] ">
                            <span class="lnr lnr-chevron-down"></span>
                        </div>

                    </form>
                </div>
                <div class="row products">
                    <table class="table search-result" cellspacing="0" rules="all" border="1" id="ctrl_191017_163_grvDocument" style="border-style:None;width:100%;border-collapse:collapse;">
                        <tbody>
                            <tr>
                                <th class="CodeClass" scope="col">Số ký hiệu</th>
                                <th scope="col">Ngày ban hành</th>
                                <th scope="col">Trích yếu</th>
                                <th scope ="col">Người ký</th>
                            </tr>
                            @foreach (var item in Model.ListDocument)
                            {
                                <tr>
                                    <td>
                                        <a href="#">
                                            <span class="code">@item.DocumentNumber</span>
                                        </a>
                                    </td>
                                    <td>
                                        <span>@item.CreateDate</span>
                                    </td>
                                    <td>
                                        <span class="substract">V/v chuyển mục đích sử dụng đất trồng lúa sang mục đích khác để thực hiện Dự án Đường kết nối đê bao ven biển với cầu Thứ Ba tại huyện An Biên, tỉnh Kiên Giang</span>
                                        <div class="bl-doc-files">
                                        <div class="bl-doc-file"><a href="https://datafiles.chinhphu.vn/cpp/files/vbpq/2023/12/1275-nn.signed.pdf" target="_blank" download="">Tài liệu đính kèm</a></div>
                                        </div>
                                    </td>
                                    <td>
                                        <span>@item.HumanSign</span>
                                    </td>
                                </tr>
                            }

                    </table>
                    @*@if (Model.Product.Count < 1)
                    {
                    @ViewData["NoProduct"]
                    }
                    @foreach (var items in Model.Product)
                    {
                    <div class="col-md-6 col-lg-4">
                    <div class="item">
                    <div class="thumb">
                    <a asp-page="/products/detail" asp-route-id="@items.Id" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <img src="@Url.Content(items.Image)" alt="" style="width: 100px;">
                    </a>
                    <a asp-page="/tasks/shop_cart" asp-page-handler="buy" asp-route-id="@items.Id" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
                    </div>
                    <div class="info">
                    <h5 class="woocommerce-loop-product__title">
                    <a asp-page="/products/detail" asp-route-id="@items.Id">@items.ProductName</a>
                    </h5>
                    <div class="star-rating">
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star-outline"></i>
                    </div>
                    <span class="price">
                    <span class="woocommerce-Price-amount amount">
                    <span class="woocommerce-Price-currencySymbol">$</span>@String.Format("{0:.##}", items.Price)
                    </span>
                    </span>
                    </div>
                    </div>
                    </div>
                    }*@
                </div>
                <div class="woocommerce-pagination">
                    @*<ul class="page-numbers">
                    <li>
                    @if (pageNum == 1)
                    {
                    <a href="/products/menu?PageNum=@prev" hidden="hidden" class="page-numbers prev">
                    <span class="lnr lnr-arrow-left"></span>
                    </a>
                    }
                    else
                    {
                    <a href="/products/menu?PageNum=@prev" class="page-numbers prev">
                    <span class="lnr lnr-arrow-left"></span>
                    </a>
                    }
                    </li>
                    @for (var i = 1; i <= total; i++)
                    {
                    @if (pageNum == i)
                    {
                    <li>
                    <span class="page-numbers current"><a href="/products/menu?PageNum=@i">@i</a></span>
                    </li>
                    }
                    else
                    {
                    <li>
                    <a href="/products/menu?PageNum=@i" class="page-numbers inactive">@i</a>
                    </li>
                    }
                    }
                    <li>
                    @if (pageNum == total)
                    {
                    <a href="/products/menu?PageNum=@next" hidden="hidden" class="page-numbers next">
                    <span class="lnr lnr-arrow-right"></span>
                    </a>
                    }
                    else
                    {
                    <a href="/products/menu?PageNum=@next" class="page-numbers next">
                    <span class="lnr lnr-arrow-right"></span>
                    </a>
                    }
                    </li>
                    </ul>*@
                </div>
            </div>
            
        </div>
    </div>
</section>